.avatar {
    max-width: 50px;
    height: 50px;
    margin: 5px;
  }
  
.avatar_img{
    clip-path: circle();
    margin-top: 5px;
}

.scroll{
    overflow: scroll;
}

.chat_item{
    cursor: pointer;
}